%h3 Aliases
- if @aliases.empty?
  %p none
- else
  %ul
    - @aliases.each do |alternative|
      %li
        = alternative.name
        = link_to 'Edit', edit_song_alias_path(alternative.aliasable,alternative) if alternative.aliasable.class == Song
        = link_to 'Edit', edit_artist_alias_path(alternative.aliasable,alternative) if alternative.aliasable.class == Artist
