%h1 Themes:
= link_to 'New Theme', new_theme_path
%ul
  - @themes.each do |theme|
    %li
      = link_to theme.name, theme_path(theme)
      = link_to 'Edit', edit_theme_path(theme)
      = link_to 'Delete', theme_path(theme), :confirm => 'Are you sure?', :method => :delete
