=form_for @song do |f|
  %div
    =f.label :artist_id, 'Artist:'
    =f.select(:artist_id, Artist.all.collect {|p| [ p.name, p.id ] }, { :include_blank => 'None' })
  %div
    =f.label :name, 'Name:'
    =f.text_field :name, :autofocus => true
  %div
    =f.label :file_path, 'File Path:'
    =f.text_field :file_path
  =f.submit
