=form_for([@artist, @song]) do |f|
  %div
    =f.label :name, 'Name:'
    =f.text_field :name, :autofocus => true
  %div
    =f.label :file_path, 'File Path:'
    =f.text_field :file_path
  =f.submit
