%h1 Songs
= link_to 'New Song', new_artist_song_path(@artist)
%ol
  - @songs.each do |song|
    %li
      = song.name
      = link_to 'Edit', edit_artist_song_path(@artist,song)
      = link_to 'Delete', artist_song_path(@artist,song), :confirm => 'Are you sure?', :method => :delete
