!!!
%html
  %head
    %title MuiscQuiz
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  %nav
    =link_to 'Themes', themes_path
    =link_to 'Artists', artists_path
    %hr     
  = yield
